<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>비트캠프</title>
</head>
<body>

<div data-th-replace="header :: header"></div>

<h1>게시글</h1>
<form data-th-action="@{/board/add}" method='post' enctype='multipart/form-data'>
제목 <input type='text' name='title'><br>
내용 <textarea name='content'></textarea><br>
파일 <input type='file' name='files' multiple><br>
<input type='hidden' name='category' data-th-value="${param.category}">
<button>등록</button>
</form>

<div data-th-replace="footer :: footer"></div>

</body>
</html>